/* -----------------------------------------
	Page title CSS
----------------------------------------- */
.page-title-area {
  position: relative;
  overflow: hidden;
}
.page-title-area::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-dark);
  opacity: 0.5;
  z-index: -1;
}
.page-title-area ul {
  margin: 0;
}
.page-title-area h2 {
  color: var(--color-white);
}
.page-title-area li {
  color: var(--color-white);
}
.page-title-area li a {
  color: var(--color-white);
}
.page-title-area h2{
  font-size: 22px !important;
}
@media (min-width: 992px) {
  .page-title-area.has_header_2 {
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  .page-title-area.has_header_2 {
    padding-top: 100px;
  }
}
@media (max-width: 991.98px) {
  .page-title-area.has_header_2 {
    padding-top: 80px;
  }
}
@media (max-width: 991.98px) {
  .page-title-area.has_header_2 {
    padding-top: 100px;
  }
}

/* -----------------------------------------
	Sidebar Widget CSS
----------------------------------------- */
.widget-offcanvas {
  box-shadow: var(--shadow-md);
}
.widget-offcanvas ::-webkit-scrollbar {
  width: 6px;
}
@media (min-width: 992px) {
  .widget-offcanvas {
    box-shadow: none;
  }
}

.widget-area {
  width: 100%;
}
.widget-area .accordion-button {
  font: inherit !important;
  color: var(--color-dark);
  padding: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.widget-area .accordion-button::after {
  color: var(--color-dark);
  background: none;
  font-size: var(--font-sm);
  font-family: "Font Awesome 5 Pro" !important;
  content: "\f107";
  transform: none;
  text-align: right;
}
.widget-area .accordion-button:not(.collapsed) {
  color: var(--color-dark);
}
.widget-area .accordion-button:not(.collapsed)::after {
  color: var(--color-dark);
  content: "\f106";
}
.widget-area .accordion-body {
  padding: 20px 0 0;
}
.widget-area .scroll-y {
  padding-top: 0;
  max-height: 245px;
  overflow-x: hidden;
  overflow-y: auto;
}
.widget-area .form-control {
  height: 50px;
  line-height: 50px;
  color: var(--color-medium);
}
.widget-area .nice-select::after {
  border-color: var(--color-primary);
}
.widget-area .widget {
  padding: 24px;
  overflow: hidden;
}
.widget-area .widget .title {
  margin-bottom: 0;
}
.widget-area .widget label {
  display: block;
}
.widget-area .widget .list-group li {
  display: block;
  color: var(--color-medium);
}
.widget-area .widget .list-group li:not(:last-child) {
  margin-bottom: 10px;
}
.widget-area .widget .list-group label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widget-area .widget .price-value {
  margin-top: 15px;
}
.widget-area .widget .price-value span {
  color: var(--color-medium);
}
.widget-area .widget .price-value .btn {
  font-size: var(--font-xsm);
}
.widget-area .widget .qty {
  font-size: var(--font-sm);
  float: right;
}
.widget-area .widget .user {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: left;
  text-align: left;
  gap: 10px;
}
.widget-area .widget .user .user-img{
  flex: 0 0 auto;
  max-width: 80px;
}
.widget-area .widget .user .user-info a {
  color: var(--color-medium);
  font-size: var(--font-sm);
}
.widget-area .widget-product .product-default {
  display: flex;
  align-items: center;
  gap: 14px;
  background-color: transparent;
  box-shadow: none !important;
  transform: none !important;
}
.widget-area .widget-product .product-default:not(:last-child) {
  margin-bottom: 20px;
}
.widget-area .widget-product .product-default .author img {
  max-width: 25px;
}
.widget-area .widget-product .product-default .product-img {
  flex: 0 0 auto;
  max-width: 90px;
}
.widget-area .widget-product .product-default .new-price {
  font-size: var(--font-sm) !important;
}
.widget-area .widget-product .accordion-body {
  padding-top: 0;
}
.widget-area .widget-product .title {
  padding-bottom: 15px;
  margin-bottom: 0 !important;
}
.widget-area .widget-info .list-group li:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed var(--border-color);
}
.widget-area .widget-categories ul li a {
  display: block;
  color: var(--color-medium);
  position: relative;
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}
.widget-area .widget-categories ul li a:hover {
  color: var(--color-primary);
}
.widget-area .widget-categories .list-item ul {
  padding-top: 5px;
}
.widget-area .widget-categories .list-item ul li:not(:last-child) {
  margin-bottom: 5px;
}
.widget-area .widget-categories .list-item li {
  font-size: var(--font-sm);
}
.widget-area .widget-categories .list-item > a::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  border: 1px solid var(--color-primary);
}
.widget-area .widget-categories .list-item > a::after {
  position: absolute;
  content: "";
  left: 2px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: var(--color-primary);
}
.widget-area .widget-categories .list-item.open > a {
  color: var(--color-primary);
}
.widget-area .widget-categories .list-item.open > a::after {
  opacity: 1;
}
.widget-area .widget-categories .list-dropdown:not(.open) .menu-collapse {
  display: none;
}
.widget-area .widget-form .form-control, .widget-area .widget-form .nice-select {
  height: 44px;
  line-height: 44px;
  font-size: var(--font-sm);
  border-color: transparent;
}
.widget-area .widget-address i {
  margin-top: 3px;
}
.widget-area .widget-search .search-form {
  background: var(--color-white);
  box-shadow: 0px 10px 40px rgba(36, 36, 36, 0.1);
}
.widget-area .widget-post .article-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
}
.widget-area .widget-post .article-item:last-child {
  margin-bottom: 0 !important;
}
.widget-area .widget-post .article-item .image {
  flex: 0 0 auto;
  max-width: 33%;
  overflow: hidden;
  border-radius: 5px;
}
.widget-area .widget-post .article-item .image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.widget-area .widget-post .article-item .content {
  flex: 0 0 auto;
  max-width: 75%;
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}
.widget-area .widget-post .article-item .content h6 {
  margin-bottom: 10px;
}
.widget-area .widget-post .article-item .content .time {
  color: #717584;
  font-size: 13px;
}
.widget-area .widget-post .article-item .info-list {
  font-size: 12px;
  margin-bottom: 10px;
}
.widget-area .widget-post .article-item .info-list li i {
  font-size: 12px;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.widget-area .widget-tag {
  padding-bottom: 14px;
}
.widget-area .widget-tag ul li {
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 5px;
  background: var(--color-white);
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
  margin-bottom: 10px;
  transition: background 0.3s ease-out;
  cursor: pointer;
}
.widget-area .widget-tag ul li a {
  color: var(--color-medium);
}
.widget-area .widget-tag ul li:hover {
  background: var(--color-primary);
}
.widget-area .widget-tag ul li:hover a {
  color: var(--color-white);
}
.widget-area .widget-blog-categories ul li {
  margin-bottom: 5px;
}
.widget-area .widget-blog-categories ul li:last-child {
  margin: 0;
}
.widget-area .widget-blog-categories ul li a {
  color: var(--color-gray-1);
}
.widget-area .widget-blog-categories ul li i {
  color: var(--color-primary);
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

/* -----------------------------------------
	Listing Single CSS
----------------------------------------- */
.listing-single-area .product-single-gallery {
  position: relative;
}
.listing-single-area .product-single-gallery .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  color: var(--color-primary);
  background: var(--color-white);
}
.listing-single-area .product-single-gallery .slider-btn.slider-btn-prev {
  left: 0;
}
.listing-single-area .product-single-gallery .slider-btn.slider-btn-next {
  right: 0;
}
.listing-single-area .product-thumb {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(60% + 61px);
  padding-inline: 61px;
  z-index: 5;
}
.listing-single-area .slider-thumbnails .thumbnail-img {
  cursor: pointer;
  border: 1px solid var(--border-color);
}
.listing-single-area .slider-thumbnails .thumbnail-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.listing-single-area .product-single-details .product-desc p:last-child {
  margin-bottom: 0;
}
.listing-single-area .product-single-details .progress {
  height: 10px;
  border-radius: 30px;
}
.listing-single-area .product-single-details .progress .progress-bar {
  border-radius: 30px;
  background: var(--color-primary);
}
.listing-single-area .author {
  display: flex;
  align-items: center;
}
.listing-single-area .author .image {
  flex: 0 0 auto;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.listing-single-area .features-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.listing-single-area .features-list li {
  display: inline-block;
}
.listing-single-area .features-list li:not(:last-child) {
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  -webkit-border-end: 2px solid var(--border-color);
          border-inline-end: 2px solid var(--border-color);
}
.listing-single-area .features-list li i {
  color: var(--color-primary);
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  font-size: 32px;
  vertical-align: middle;
}
.listing-single-area .policy-list li:not(:last-child) {
  margin-bottom: 10px;
}
.listing-single-area .policy-list li:before {
  content: "|";
  -webkit-margin-end: 7px;
          margin-inline-end: 7px;
  color: var(--color-primary);
}

.review-box .review-list {
  padding: 30px;
}
.review-box .review-list .review-body {
  display: flex;
  position: relative;
}
.review-box .review-list .review-body .ratings i {
  color: var(--color-primary);
}
.review-box .review-list .review-body .author {
  -webkit-padding-end: 16px;
          padding-inline-end: 16px;
  max-width: 80px;
}
.review-box .review-list p {
  margin-bottom: 0;
}

.share-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.share-link li {
  text-align: center;
  line-height: 1;
}
.share-link .btn {
  padding: 0;
  font-weight: normal;
  color: var(--color-medium);
  font-size: var(--font-xsm);
}
.share-link .btn i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid rgba(var(--color-dark-rgb), 0.15);
}
.share-link .btn.blue i {
  color: var(--color-blue);
}
.share-link .btn.red i {
  color: var(--color-red);
}
.share-link .btn.cyan i {
  color: var(--color-cyan);
}

/* -----------------------------------------
	Pagination CSS
----------------------------------------- */
.pagination:not(div.dataTables_paginate .pagination) .page-link {
  color: var(--color-dark);
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 0 !important;
  border: 1px solid var(--border-color);
}
.pagination:not(div.dataTables_paginate .pagination) .page-item.active .page-link,
.pagination:not(div.dataTables_paginate .pagination) .page-link:hover {
  color: var(--color-white);
  background: var(--color-primary);
  border-color: var(--color-primary);
}
.pagination:not(div.dataTables_paginate .pagination) .page-link.next, .pagination:not(div.dataTables_paginate .pagination) .page-link.prev {
  border: none;
}
.pagination:not(div.dataTables_paginate .pagination) .page-link.next:hover, .pagination:not(div.dataTables_paginate .pagination) .page-link.prev:hover {
  color: var(--color-primary);
  background: transparent;
}

/* -----------------------------------------
    Dashboard CSS
----------------------------------------- */
.user-dashboard .widget-area .widget {
  border: 1px solid var(--border-color);
  background: var(--color-white);
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.1);
}
.user-dashboard .widget-area .links li {
  position: relative;
  display: block;
  border-bottom: 1px dashed var(--border-color);
  transition: all 0.3s;
}
.user-dashboard .widget-area .links li:last-child {
  border-bottom: none;
}
.user-dashboard .widget-area .links li a {
  display: block;
  padding: 15px 0;
}
.user-dashboard .widget-area .links li a.active {
  color: var(--color-primary);
}
.user-dashboard .widget-area .links li a.active::after {
  position: absolute;
  content: "";
  top: 0;
  left: -25px;
  width: 2px;
  height: 100%;
  background: var(--color-primary);
}
.user-dashboard .widget-area .links li:hover > a {
  color: var(--color-primary);
}
.user-dashboard .title {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}
.user-dashboard .title h3 {
  margin-bottom: 0;
}
.user-dashboard .main-info {
  overflow: hidden;
  margin-left: -15px;
  padding-left: 15px;
}
.user-dashboard .main-info h4 {
  margin-bottom: 15px;
}
.user-dashboard .main-info ul.list {
  display: flex;
  flex-wrap: wrap;
}
.user-dashboard .main-info ul.list li {
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--bg-light);
  display: flex;
  margin-bottom: 15px;
}
.user-dashboard .main-info ul.list li:not(:last-child) {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.user-dashboard .main-info ul.list li span:first-child {
  font-weight: var(--font-medium);
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.user-dashboard .main-info ul.list li p span {
  font-weight: 500;
  margin-right: 20px;
}
.user-dashboard .order-details {
  border: 1px solid var(--border-color);
  background: var(--color-white);
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.1);
  padding: 30px;
}
.user-dashboard .account-info {
  border: 1px solid var(--border-color);
  background: var(--color-white);
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.1);
  padding: 30px 30px 15px;
}
.user-dashboard .card.card-box {
  padding: 30px 30px 15px;
  padding-bottom: 80px;
  border: 1px solid var(--border-color);
  background: var(--color-white);
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.1);
  flex-direction: row;
}
.user-dashboard .card.card-box .card-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  color: var(--color-primary);
  background: rgba(var(--color-primary-rgb), 0.08);
}
.user-dashboard .card.card-box .card-info {
  -webkit-padding-start: 16px;
          padding-inline-start: 16px;
}
.user-dashboard .card.card-box .card-info h3 {
  margin-top: -3px;
  margin-bottom: 0;
}
.user-dashboard .card.card-box .card-info p {
  margin-bottom: 0;
}
.user-dashboard .card.card-box .card-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.user-dashboard .card.card-box.color-1 .card-icon {
  color: #f9725f;
  background-color: rgba(249, 114, 95, 0.13);
}
.user-dashboard .card.card-box.color-1 .stroke {
  stroke: #f9725f;
}
.user-dashboard .card.card-box.color-2 .card-icon {
  color: #6231F0;
  background-color: rgba(98, 49, 240, 0.13);
}
.user-dashboard .card.card-box.color-2 .stroke {
  stroke: #6231F0;
}
.user-dashboard .card.card-box.color-3 .card-icon {
  color: #19d873;
  background-color: rgba(25, 216, 115, 0.13);
}
.user-dashboard .card.card-box.color-3 .stroke {
  stroke: #19d873;
}
.user-dashboard .progress-area-step {
  margin-bottom: 60px;
  display: block;
  overflow: hidden;
}
.user-dashboard .progress-steps li {
  width: 25%;
  float: left;
  text-align: center;
  position: relative;
}
.user-dashboard .progress-steps li::marker {
  content: none;
}
.user-dashboard .progress-steps li .icon {
  height: 30px;
  width: 30px;
  text-align: center;
  margin: auto;
  background: var(--color-light);
  border-radius: 50%;
  line-height: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  position: relative;
}
.user-dashboard .progress-steps li:first-child:after {
  display: none;
}
.user-dashboard .progress-steps li:after {
  position: absolute;
  content: "";
  height: 3px;
  width: calc(100% - 30px);
  background: var(--color-light);
  top: 14px;
  z-index: 0;
  right: calc(50% + 15px);
}
.user-dashboard .progress-steps li .progress-title {
  padding-top: 10px;
}
.user-dashboard .progress-steps li.active .icon {
  background: var(--color-primary);
  color: var(--color-white);
}
.user-dashboard .main-table .dataTables_wrapper .row:last-child {
  margin-bottom: 15px;
  align-items: center;
  margin-top: 20px;
}
.user-dashboard .main-table .dataTables_wrapper .row:first-child {
  margin-bottom: 30px;
  align-items: center;
}
.user-dashboard .main-table .dataTables_wrapper input[type=search] {
  height: 35px;
  outline: none;
}
.user-dashboard .main-table .dataTables_wrapper input[type=search]:focus {
  outline: none;
  box-shadow: none;
}
.user-dashboard .main-table .dataTables_wrapper th {
  color: var(--color-dark);
  padding: 10px;
  font-size: 14px;
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05);
}
.user-dashboard .main-table .dataTables_wrapper tr.odd td {
  box-shadow: none;
}
.user-dashboard .main-table .dataTables_wrapper tr.even td {
  box-shadow: none;
}
.user-dashboard .main-table .dataTables_wrapper tr:hover {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05);
}
.user-dashboard .main-table .dataTables_wrapper td {
  padding: 10px;
  color: var(--color-medium);
}
.user-dashboard .main-table .dataTables_wrapper td span {
  padding: 5px 10px;
  border-radius: 3px;
  line-height: 18px;
  font-size: 12px;
}
.user-dashboard .main-table .dataTables_wrapper td span.pending {
  background: rgba(var(--bs-warning-rgb), 0.13);
  color: var(--bs-warning);
}
.user-dashboard .main-table .dataTables_wrapper td span.complete {
  background: rgba(var(--bs-success-rgb), 0.13);
  color: var(--bs-success);
}
.user-dashboard .main-table .dataTables_wrapper td span.reject {
  background: rgba(var(--bs-danger-rgb), 0.13);
  color: var(--bs-danger);
}
.user-dashboard .main-table .dataTables_wrapper td a.btn {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background: transparent;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
  transition: all 0.3s;
  font-weight: 500;
  margin: 0;
}
.user-dashboard .main-table .dataTables_wrapper td a.btn:hover {
  background: var(--color-primary);
  border-color: transparent;
  color: var(--color-white);
}
.user-dashboard .main-table .table > :not(caption) > * > * {
  border-style: dashed;
}
.user-dashboard .dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 5px;
}
.user-dashboard .dataTables_wrapper .dataTables_paginate .paginate_button:not(:first-child) {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
.user-dashboard .dataTables_wrapper .dataTables_paginate .paginate_button:not(.user-dashboard .dataTables_wrapper .dataTables_paginate .paginate_button.disabled) {
  background: var(--color-white) !important;
}
.user-dashboard .paginate_button .page-link {
  border: 1px solid var(--border-color);
  color: var(--color-dark);
  border-radius: 5px;
}
.user-dashboard .paginate_button .page-link:hover {
  color: var(--color-white);
  background-color: var(--color-primary) !important;
}
.user-dashboard .paginate_button.active .page-link {
  color: var(--color-white);
  background-color: var(--color-primary) !important;
  border-color: transparent;
}
.user-dashboard table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before {
  top: 15px;
}
.user-dashboard table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
  top: 15px;
}
.user-dashboard .view-order-page .order-info h3 {
  margin-bottom: 15px;
}
.user-dashboard .order-info-area {
  padding: 20px 30px 0;
  border-radius: 10px;
  background: var(--bg-light);
}
.user-dashboard .order-info-area .order-info span {
  color: var(--color-primary);
  opacity: 0.8;
}
.user-dashboard .order-info-area .prinit {
  float: right;
}
.user-dashboard .order-info-area .prinit .btn {
  background: var(--color-primary);
  color: var(--color-white);
}
.user-dashboard .order-info-area .prinit .btn i {
  margin-right: 10px;
}
.user-dashboard .billing-add-area .main-info ul.list li {
  width: 100%;
  padding: 0;
  box-shadow: none;
  background: transparent;
}
.user-dashboard .billing-add-area .main-info ul.list li:not(:last-child) {
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-bottom: 7px;
}
.user-dashboard .billing-add-area .main-info ul.list li:last-child {
  margin-bottom: 0;
}
.user-dashboard .billing-add-area .main-info ul.list li span:first-child {
  color: var(--color-dark);
  font-weight: var(--font-medium);
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.user-dashboard .product-list h5 {
  margin-bottom: 15px;
}
.user-dashboard .product-list table thead tr th {
  color: var(--color-dark);
  padding: 10px;
  font-size: 14px;
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05);
}
.user-dashboard .product-list table tr td {
  color: var(--color-medium);
}
.user-dashboard .product-list table tr td b {
  line-height: 30px;
  font-weight: 500;
}
.user-dashboard .product-list table tr td span {
  margin-left: 10px;
}
.user-dashboard .product-list table tr td span.color {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #222;
}
.user-dashboard .payment-information h5 {
  margin-bottom: 20px;
}
.user-dashboard .payment-information p:not(:last-child) {
  margin-bottom: 7px;
}
.user-dashboard .edit-info-area {
  overflow: hidden;
}
.user-dashboard .edit-info-area .upload-img {
  margin-bottom: 24px;
}
.user-dashboard .edit-info-area .nice-select {
  width: 100%;
  border-color: var(--border-color);
  border-radius: 5px;
}
.user-dashboard .edit-info-area .nice-select .list {
  width: 100%;
}
.user-dashboard .btn:not(.btn-primary) {
  background: var(--color-primary);
  color: var(--color-white);
  text-transform: capitalize;
  outline: none;
}
.user-dashboard .btn:not(.btn-primary):hover {
  color: var(--color-white);
}
.user-dashboard .btn:not(.btn-primary):focus {
  color: var(--color-white);
}
.user-dashboard .file-upload-area {
  position: relative;
  max-width: 120px;
  padding-bottom: 30px;
}
.user-dashboard .file-upload-area .file-edit {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-inline: auto;
  border-radius: 100%;
  background: var(--color-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  color: var(--color-primary);
  z-index: 1;
}
.user-dashboard .file-upload-area .file-edit input {
  display: none;
}
.user-dashboard .file-upload-area .file-edit input + label {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.user-dashboard .file-upload-area .file-edit input + label:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "\f040";
  font-family: var(--font-family-fontawesome);
}
.user-dashboard .file-upload-area .file-edit:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
.user-dashboard .file-upload-area .file-preview {
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid var(--border-color);
}
.user-dashboard .file-upload-area .file-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.user-dashboard #errorMsg {
  color: var(--color-red);
}

/* -----------------------------------------
    Shopping CSS
----------------------------------------- */
.shopping-area .shopping-table {
  width: 100%;
  border-collapse: collapse;
  vertical-align: middle;
}
.shopping-area .item-list {
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.1);
}
.shopping-area .table-heading {
  background-color: var(--bg-light);
}
.shopping-area .table-heading th {
  color: var(--color-dark);
  padding: 15px 0;
}
.shopping-area .table-heading .first {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  border-radius: 10px 0 0 10px;
}
.shopping-area .table-heading .last {
  padding: 15px 20px;
  border-radius: 0 10px 10px 0;
}
.shopping-area label {
  color: var(--color-dark);
  margin-bottom: 5px;
}
.shopping-area tbody {
  border: none !important;
}
.shopping-area tbody tr:not(:first-child) {
  border-top: 1px solid var(--border-color) !important;
}
.shopping-area tbody td {
  padding: 15px 0;
}
.shopping-area .shopping-table tbody .item .product-img {
  padding-inline-start: 20px;
}
.shopping-area tbody .cart-item {
  box-shadow: 0px 15px 120px rgba(49, 49, 49, 0.1);
}
.shopping-area .image {
  padding-left: 0;
  max-width: 100px;
}
.shopping-area .product-price {
  display: table-cell;
}
.shopping-area .form-block {
  padding: 20px;
}
.shopping-area .order-summery .item {
  display: flex;
  align-items: center;
  gap: 14px;
}
.shopping-area .order-summery .item:not(:last-child) {
  margin-bottom: 15px;
}
.shopping-area .order-summery .product-img {
  flex: 0 0 auto;
  max-width: 80px;
}
.shopping-area .order-summery .product-desc {
  left: 0;
}
.shopping-area .nice-select {
  width: 100%;
  border-color: var(--border-color);
}
.shopping-area .nice-select .list {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}
.shopping-area .product-desc {
  position: relative;
  left: -16px;
  max-width: 150px;
}
.shopping-area .product-desc h6 {
  font-weight: var(--font-semi-bold);
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* -----------------------------------------
Authentication CSS
----------------------------------------- */
.authentication-area {
  margin-top: -10px;
}
.authentication-area .auth-form {
  max-width: 640px;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.1);
}
.authentication-area h3 {
  margin-top: -5px;
}
.authentication-area .link {
  font-size: var(--font-sm);
  line-height: 1.3;
  margin-bottom: 10px;
}
.authentication-area .link a {
  display: inline-block;
  color: var(--color-primary);
}
.authentication-area .link a:hover {
  color: var(--color-primary);
}
.authentication-area .link.go-signup {
  text-align: right;
}

/* -----------------------------------------
	Blog Details CSS
----------------------------------------- */
.blog-details-area .item-single {
  overflow: hidden;
  background: var(--color-white);
}
.blog-details-area .item-single .image {
  position: relative;
  overflow: hidden;
}
.blog-details-area .item-single .image .btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}
.blog-details-area .item-single .image i {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.blog-details-area .item-single .content {
  position: relative;
  padding-top: 25px;
}
.blog-details-area .item-single .content .title {
  margin-bottom: 15px;
}
.blog-details-area .item-single .content .title a:hover {
  color: var(--color-primary);
}
.blog-details-area .item-single .content p {
  margin-bottom: 30px;
}
.blog-details-area .item-single .content .blockquote {
  padding: 24px;
  background-color: var(--bg-light);
  border-radius: 5px;
}
.blog-details-area .item-single .content .blockquote i {
  color: var(--color-primary);
  font-size: 24px;
}
.blog-details-area .item-single .content .blockquote p {
  color: var(--color-dark);
  margin-top: 10px;
  margin-bottom: 0;
  font-style: italic;
}
.blog-details-area .info-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1;
  list-style-type: none;
}
.blog-details-area .info-list li {
  -webkit-padding-end: 14px;
          padding-inline-end: 14px;
  color: var(--color-medium);
  -webkit-border-end: 1px solid var(--border-color);
          border-inline-end: 1px solid var(--border-color);
}
.blog-details-area .info-list li:last-child {
  -webkit-padding-end: 0;
          padding-inline-end: 0;
  border: 0;
}
.blog-details-area .info-list li i {
  font-size: 16px;
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
  color: var(--color-primary);
}
.blog-details-area .comments .comment-box {
  overflow: hidden;
  background: var(--color-white);
  padding: 30px 30px 0;
  border: 1px solid var(--border-color) !important;
}
.blog-details-area .comments .name {
  margin-top: -3px;
  margin-bottom: 2px;
}
.blog-details-area .comments p {
  margin-bottom: 0;
}
.blog-details-area .comments .comment-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.blog-details-area .comments .comment-list .comment .comment-body {
  display: flex;
  margin-bottom: 30px;
}
.blog-details-area .comments .comment-list .comment .comment-body .comment-author {
  -webkit-padding-end: 16px;
          padding-inline-end: 16px;
  max-width: 100px;
}
.blog-details-area .comments .comment-list .comment .comment-body .comment-author .lazy-container {
  height: auto;
}
.blog-details-area .comments .comment-list .comment .comment-body .comment-content p {
  margin-bottom: 10px;
}
.blog-details-area .comments .comment-list .comment .comment-body .comment-content .btn-reply {
  color: var(--color-primary);
  display: inline-block;
}
.blog-details-area .comments .comment-list .comment .comment-body .comment-content .btn-reply i {
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.blog-details-area .comments .comment-list .comment .children {
  list-style-type: none;
  padding: 0;
}
.blog-details-area .comments .comment-list .comment .children .comment-body {
  -webkit-padding-start: 35px;
          padding-inline-start: 35px;
  margin-bottom: 25px;
}
.blog-details-area .comments .comment-reply .comment-notes {
  margin-bottom: 25px;
}
.blog-details-area .widget-area .widget {
  padding: 40px;
}

/* -----------------------------------------
	Faq CSS
----------------------------------------- */
.faq-area {
  position: relative;
}
.faq-area .section-title {
  text-align: left;
}
.faq-area .accordion-item {
  border: none;
  padding: 20px 25px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0px 5px 30px 0px rgba(78, 76, 76, 0.1);
}
.faq-area .accordion-item .accordion-header .accordion-button {
  color: var(--color-dark);
  font-weight: 700;
  padding: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.faq-area .accordion-item .accordion-header .accordion-button::after {
  background: none;
  font-size: 14px;
  font-family: "Font Awesome 5 Pro" !important;
  content: "\f067";
  transform: none;
  text-align: right;
}
.faq-area .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: var(--color-primary);
}
.faq-area .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  color: var(--color-primary);
  content: "\f068";
}
.faq-area .accordion-item .accordion-body {
  position: relative;
  padding: 16px 0 0 0;
}
.faq-area .accordion-item .accordion-body p {
  margin: 0;
}

/* -----------------------------------------
	Contact CSS
----------------------------------------- */
.contact-area {
  position: relative;
  z-index: 1;
}
.contact-area .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  box-shadow: 0px 10px 40px 0px rgba(78, 76, 76, 0.1);
}
.contact-area .card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  flex: 0 0 80px;
  border-radius: 8px;
  font-size: 24px;
  color: var(--color-primary);
  background: rgba(var(--color-primary), 0.7);
}
.contact-area .card .card-text {
  -webkit-padding-start: 16px;
          padding-inline-start: 16px;
  margin-bottom: 0;
}
.contact-area .card .card-text P {
  color: var(--color-dark);
  margin-bottom: 0;
}
.contact-area .form-group ::-moz-placeholder, .contact-area .input-group ::-moz-placeholder {
  color: var(--color-dark);
}
.contact-area .form-group ::placeholder,
.contact-area .input-group ::placeholder {
  color: var(--color-dark);
}
.contact-area .form-group .form-control,
.contact-area .input-group .form-control {
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
}
.contact-area iframe {
  width: 100%;
}
.contact-area .checkbox label {
  position: relative;
  cursor: pointer;
  line-height: 1;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
  color: var(--color-medium);
}
.contact-area .checkbox label a {
  color: var(--color-primary);
}
.contact-area .checkbox input[type=checkbox] {
  display: none;
  pointer-events: none;
}
.contact-area .checkbox input[type=checkbox] + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.contact-area .checkbox input[type=checkbox] + label svg {
  width: 25px;
  stroke: var(--color-primary);
  stroke-width: 5;
}
.contact-area .checkbox input[type=checkbox] + label svg .box {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  fill: var(--bg-light) !important;
}
.contact-area .checkbox input[type=checkbox] + label svg .check {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  fill: none;
}
.contact-area .checkbox input[type=checkbox] + label span {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}
.contact-area .checkbox input[type=checkbox]:checked + label .box {
  stroke-dashoffset: 320;
  transition: stroke-dashoffset 0.3s linear;
}
.contact-area .checkbox input[type=checkbox]:checked + label .check {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s linear;
}
.contact-area .checkbox .reverse .box {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s linear;
}
.contact-area .checkbox .reverse .check {
  stroke-dashoffset: 70;
  transition: stroke-dashoffset 0.3s linear;
}
.contact-area .color-1 .icon {
  background: rgba(13, 110, 253, 0.06);
  color: #0D6EFD;
}
.contact-area .color-2 .icon {
  background: rgba(228, 16, 16, 0.06);
  color: #E41010;
}
.contact-area .color-3 .icon {
  background: rgba(20, 198, 175, 0.06);
  color: #14C6AF;
}
.contact-area .color-4 .icon {
  background: rgba(44, 195, 243, 0.06);
  color: #2CC3F3;
}
.contact-area .color-5 .icon {
  background: rgba(245, 122, 9, 0.06);
  color: #F57A09;
}
.contact-area .color-6 .icon {
  background: rgba(107, 118, 255, 0.06);
  color: #6B76FF;
}
.contact-area .color-7 .icon {
  background: rgba(237, 121, 142, 0.06);
  color: #ED798E;
}
.contact-area .color-8 .icon {
  background: rgba(179, 205, 227, 0.06);
  color: #B3CDE3;
}

/* -----------------------------------------
    Terms & Conditions CSS
----------------------------------------- */
.terms-condition-area .item-single {
  padding: 30px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 80px rgba(17, 16, 33, 0.08);
}
.terms-condition-area .item-single h3 {
  margin-bottom: 20px;
}
.terms-condition-area .item-single p:last-child {
  margin-bottom: 0;
}
.terms-condition-area ul {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}
